{% extends 'base.html.twig' %}

{% block title %}Create Movement
{% endblock %}

{% block body %}
	{% include '_partials/_flush.html.twig' %}

	{% include '_partials/_adminav.html.twig' %}
	 <main class="flex flex-col gap-4 md:gap-5 px-4 lg:px-5 lg:ml-56 h-auto pt-20 pb-5">
        <div class="px-6 py-8 lg:px-8">

			<h1 class="text-2xl font-bold text-center">Create Movement</h1>
			{{ form_start(form) }}
			<div class="space-y-4 max-w-sm">
				{{ form_row(form.quantity, { 'label': 'Quantity' }) }}
				{{ form_row(form.reason, { 'label': 'Reason' }) }}
				{{ form_row(form.movementDate, { 'label': 'Movement Date' }) }}
				{{ form_row(form.category, { 'label': 'Category' }) }}
				{{ form_row(form.equipment, { 'label': 'Equipment' }) }}
				{# {{ form_row(form.user, { 'label': 'User' }) }} #}
				{{ form_row(form.type, { 'label': 'Movement Type' }) }}
			</div>

			<div class="mt-6">
				<button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600">
					Create Movement
				</button>
			</div>
			{{ form_end(form) }}
		</div>

		 <script>
		        document.addEventListener('DOMContentLoaded', function () {
		            const categoryField = document.querySelector('[data-category-target]');
		            const equipmentField = document.querySelector('[data-equipment-target]');
		
		            categoryField.addEventListener('change', function () {
		                const categoryId = this.value;
		
		                fetch('/equipments/by-category/' + categoryId)
		                    .then(response => response.json())
		                    .then(data => {
		                        // Clear existing options
		                        equipmentField.innerHTML = '<option value="">Select Equipment</option>';
		
		                        // Populate new options
		                        data.forEach(equipment => {
		                            const option = document.createElement('option');
		                            option.value = equipment.id;
		                            option.textContent = equipment.name;
		                            equipmentField.appendChild(option);
		                        });
		                    })
		                    .catch(error => console.error('Error fetching equipment:', error));
		            });
		        });
		    </script>
	</div>
</main>
{% endblock %}
