{% extends 'base.html.twig' %}

{% block title %}Equipment Index
{% endblock %}

{% block body %}
	{# <h1 class="text-3xl font-bold mb-4 text-center text-blue-600 ">Equipment Index</h1>
	<table>
		<thead>
			<tr>
				<th>image</th>
				<th>ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Price</th>
				<th>Sale Price</th>
				<th>Quantity</th>
				<th>Category</th>
				<th>Status</th>


				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for equipment in equipments %}
				<tr>
					<td>
						{% if equipment.images|length > 0 %}
							<img src="{{ asset('uploads/equipments/mini/300x300-' ~ equipment.images[0].name) }}" alt="{{ equipment.name }} - {{ equipment.images[0].name }}" style="max-width: 50px; max-height: 50px">
						{% else %}
							<img src="{{ asset('uploads/equipments/mini/default-image.jpg') }}" alt="Image par défaut pour " style="max-width: 100px; max-height: 100px">
						{% endif %}
					</td>
					<td>{{ equipment.id }}</td>
					<td>{{ equipment.name }}</td>
					<td>{{ equipment.brand }}</td>
					<td>{{ equipment.price }}</td>
					<td>{{ equipment.salePrice }}</td>
					<td>{{ equipment.quantity }}</td>
					<td>{{ equipment.category }}</td>
					<td>{{ equipment.status }}</td>
					<td>{{ equipment.status }}</td>

					<td>
						<a href="{{ path('equipment_show', {'id': equipment.id}) }}">Show</a>
						<a href="{{ path('equipment_edit', {'id': equipment.id}) }}">Edit</a>
						<form method="post" action="{{ path('equipment_delete', {'id': equipment.id}) }}" style="display:inline-block;">
							<input type="hidden" name="_token" value="{{ csrf_token('equipment_delete_' ~ equipment.id) }}">
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>


			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('equipment_new') }}">Create New</a>

	<form method="get" action="{{ path('equipment_search') }}">
		<input type="text" name="name" placeholder="Nom de l'équipement" value="{{ app.request.query.get('name') }}">
		<input type="text" name="brand" placeholder="Marque" value="{{ app.request.query.get('brand') }}">

		<select name="status">
			<option value="">Tous les statuts</option>
			<option value="active" {% if app.request.query.get('status') == 'active' %} selected {% endif %}>Actif</option>
			<option value="expired" {% if app.request.query.get('status') == 'expired' %} selected {% endif %}>Expiré</option>
			<option value="obsolete" {% if app.request.query.get('status') == 'obsolete' %} selected {% endif %}>Obsolète</option>
		</select>

		<select name="category">
			<option value="">Toutes les catégories</option>
			{% for category in categories %}
				<option value="{{ category.id }}" {% if app.request.query.get('category') == category.id %} selected {% endif %}>
					{{ category.name }}
				</option>
			{% endfor %}
		</select>

		<button type="submit">Rechercher</button>
	</form> #}

            {% include "_partials/_adminav.html.twig" %}








{% endblock %}
