{% if cart|length > 0 %}
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm p-6 mb-6">
        <h3 class="text-lg font-medium text-gray-900 dark:text-gray-200 mb-4">Résumé du panier</h3>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="bg-gray-50 dark:bg-gray-800">
                    <tr>
                        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-200">Article</th>
                        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-200">Quantité</th>
                        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-200">Prix unitaire</th>
                        <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-200">Total</th>
                        <th class="px-2 py-3 text-right text-xs font-medium text-gray-500 uppercase dark:text-gray-200">Actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                    {% set cartTotal = 0 %}
                    {% for equipmentId, item in cart %}
                        {% set cartTotal = cartTotal + item.totalPrice %}
                        <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
                            <td class="px-2 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <div class="">
                                        <div class="text-sm font-medium text-gray-900 dark:text-gray-200">{{ item.name|striptags|slice(0, 11) ~ '...' }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap text-sm  text-gray-500 dark:text-gray-400">
                                {{ item.quantity }}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                                ${{ item.unitPrice|number_format(2) }}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap text-sm text-right text-gray-500 dark:text-gray-400">
                                ${{ item.totalPrice|number_format(2) }}
                            </td>
                            <td class="px-4 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <a href="{{ path('order_remove_from_cart', {'equipmentId': equipmentId}) }}" class="text-red-600 dark:text-red-400 hover:text-red-900 dark:hover:text-red-500">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="bg-gray-50 dark:bg-gray-800">
                    <tr>
                        <td colspan="3" class="px-4 py-4 text-right text-sm font-medium text-gray-900 dark:text-gray-200">Sous-total:</td>
                        <td colspan="2" class="px-4 py-4 text-right text-sm font-medium text-gray-900 dark:text-gray-200">${{ cartTotal|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="px-4 py-4 text-right text-sm font-medium text-gray-900 dark:text-gray-200">TVA (20%):</td>
                        <td colspan="2" class="px-4 py-4 text-right text-sm font-medium text-gray-900 dark:text-gray-200">${{ (cartTotal * 0.20)|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="px-4 py-4 text-right text-sm font-bold text-gray-900 dark:text-gray-200">Total:</td>
                        <td colspan="2" class="px-4 py-4 text-right text-sm font-bold text-gray-900 dark:text-gray-200">${{ (cartTotal * 1.20)|number_format(2) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% else %}
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-sm p-6 mb-6 text-center">
        <i class="fas fa-shopping-cart text-gray-400 dark:text-gray-200 text-4xl mb-4"></i>
        <p class="text-gray-500 dark:text-gray-400">Votre panier est vide</p>
    </div>
{% endif %}